:root {
	/* Dynamic font-size -- screen width */
	font-size: 3vh;

	/* Color Pallete -- Mixed Dark Mode */
	--color-primary-500: #a688fa;
	--color-surface-mixed-100: #1a1625;
	--color-surface-mixed-200: #2f2b3a;
	--color-surface-mixed-300: #46424f;

	color: azure;
}

body {
	min-height: 100vh;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--color-surface-mixed-100);
}

header {
	width: 100%;

	display: flex;
	justify-content: center;

	color: azure;
}

/* Container holding Sidebar and Main Content sections -- Bottom half of page */
.content-container {
	flex-grow: 1;
	display: flex;
}

#sidebar {
	width: 15vw;
	height: auto;

	background-color: var(--color-surface-mixed-300);
}

#content {
	width: 100%;
	height: auto;

	display: grid;
}

#form-container {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;

	width: 50vw;
	height: 50vh;

	justify-content: center;

	background-color: #2f2b3a;
	border: 2px solid var(--color-surface-mixed-300);
}

#form-container form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

footer {
	display: flex;
	justify-content: center;
}