:root {
	/* Dynamic font-size -- screen width */
	font-size: clamp(16px, 3vw, 3vh);

	/* Color Pallete -- Mixed Dark Mode */
	--color-primary-500: #a688fa;
	--color-surface-mixed-100: #1a1625;
	--color-surface-mixed-200: #2f2b3a;
	--color-surface-mixed-300: #46424f;
	--color-text-mixed-600: #908d96;

	color: azure;
}

body {
	min-height: 100vh;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--color-surface-mixed-100);
}

header {
	width: 100%;

	display: flex;
	justify-content: center;

	color: azure;
}

.nav-container {
	display: flex;
	justify-content: end;
}

.nav-container button {
	margin-right: 20px;
	margin-bottom: 10px;
}

button {
	font-size: 1rem;
	width: 7vw;
	min-width: fit-content;
	height: 1.3rem;

	background-color: var(--color-primary-500);
	border-radius: 8px;
	border: none;
	appearance: none;
}

/* Container holding Sidebar and Main Content sections -- Bottom half of page */
.content-container {
	flex-grow: 1;
	display: flex;
}

#sidebar {
	width: 15vw;
	min-width: 100px;
	height: auto;
	margin-left: 5px;

	background-color: var(--color-surface-mixed-300);
	border-radius: 12px;
}

.dropdown {
	margin-left: 5px;
}

/* Create 'dropdown' */
.dropdown-content {
	display: none;
}

.dropdown-content ul {
	list-style-type: none;

	padding-left: 20px;
}

/* Main content section */
#content {
	width: 100%;
	height: auto;

	display: grid;
	grid-template-rows: repeat(4, 1fr);
	/* Name rows */
	grid-template-areas: 'upcoming' 'high' 'medium' 'low';
}

/* To Do Cards */
.card {
	width: auto;
	height: 75px;
	padding: 5px;

	background-color: var(--color-surface-mixed-200);
	border-radius: 12px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
}

.card .title {
	grid-column: 1 / 3;
	grid-row: 1 / 2;

	color: inherit;
}

/* Span in all cards */
.card span {
	color: var(--color-text-mixed-600);
}

.card .desc {
	grid-column: 1 / -1;
	grid-row: 2 / -1;

	display: flex;
	flex-direction: column;
}

.desc .head {
	font-size: .6rem;
	margin: 0;
}

.desc span {
	font-size: 1rem;
}

.card .due {
	grid-column: 4/ 5;
	grid-row: 2 / 3;
	justify-self: end;
	align-self: center;

	white-space: pre-line;
	text-align: end;
	margin-right: 5px;
}

.card .priority {
	grid-column: 4/ 5;
	grid-row: 1 / 2;
	justify-self: end;
	align-self: start;
}

#form-container {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;

	width: 50vw;
	height: 50vh;

	justify-content: center;

	background-color: #2f2b3a;
	border: 2px solid var(--color-surface-mixed-300);
}

#form-container .close-box {
	width: 32px;
	border: 2px solid rgba(0, 0, 0, 0);

	position: absolute;
	top: 0;
	right: 0;
}

#form-container .close-box:hover {
	border: 2px solid var(--color-primary-500);
	border-radius: 5px;
}

#form-container .close-box:hover:active {
	border: 2px inset var(--color-primary-500);
}

/* This class will be added to required fields that are empty on submittion */
.fail {
	border: 2px solid red;
}

#form-container form, #form-container fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Date Input Fieldset */
#form-container .date-inp {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

/* Create project inp hidden by default -- Until selected */
.hide {
	display: none;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;

	border-top: 1px solid var(--color-surface-mixed-300);
}

footer .sig {
	font-size: .8rem;
}

footer img {
	width: 25px;

	transform: rotate(-1turn) scale(1);
	transition: .5s;
}

footer img:hover {
	transform: rotate(1turn) scale(1.15);
    transition: .5s;
}

footer a {
	margin: 2px 10px;
}